@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  width: 47%;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  padding: 1em;
  
}
ol li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.8rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
}

body {
  padding: 1rem;
  font-family: sans-serif;
}

.bg-img {
  background-image: url('./images/sun2.png');
  height: 500px;
}

h1, h2, h4, p {
  color: whitesmoke;
  padding-bottom: 2em;
  font-family: 'Russo One', sans-serif;
}

h2 {
  color: rgb(77, 77, 77);
  text-align: center;
  padding: 0 0 1em;
}

.fsize {
  font-size: 1.5em;
}

.imgSize img{
  width: 47%;
}

@media screen and (max-width: 1199px) {
  
  ol li {
    width: 46%;
    font-size: 0.6rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding: 1em;
  }
  .imgSize h3{
    font-size: 2.3em;
  }
}

@media screen and (max-width: 991px) {
  
  ol li {
    width: 45%;
    font-size: 0.6rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding: 1em;
  }
  .imgSize h3{
    font-size: 2em;
  }
}

@media screen and (max-width: 767px) {
  
  .bg-img h1{
    font-size: 1.8em;
  }

  .bg-img h4{
    font-size: 1.4em;
    justify-content: center;
    text-align: center;
  }

  .bg-img div {
    text-align: center;
  }

  ol li {
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding: 1em;
  }
  .imgSize h3{
    font-size: 2em;
  }
}